/.idea/
*.iml

#backend
/backend/target/
/backend/!.mvn/wrapper/maven-wrapper.jar
/backend/!**/src/main/**/target/
/backend/!**/src/test/**/target/

### STS ###
/backend/.apt_generated
/backend/.classpath
/backend/.factorypath
/backend/.project
/backend/.settings
/backend/.springBeans
/backend/.sts4-cache

#maven
/backend/mvnw.cmd
/backend/mvnw
/backend/.mvn/

#URI
/backend/src/main/resources/application-secrets.properties